body{
    font-family: 'Roboto' !important;
}
.container{margin: 30px;}
.container h3{ padding-top:10px; font-size: 23px; cursor:pointer; display:block; margin:0;}
h3 .fa-caret-down{color:dimgray;font-size: 26px; display:block;}
i.glyphicon{font-size:16px; }
.row{margin:20px 10px;}
.abv-table th{text-align:center}
.food{clear:both; margin-bottom:5px; overflow:hidden}
.food img{width:32%;margin-right:2px; float:left}
.beers-table{margin-top:15px;}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    margin-right:5px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.loader,.no-rs{margin-left:15px;}
.navbar .container{margin-top:5px;margin-bottom:5px;}
.container .theme_tag__25f{margin:0}
.checkbox label.form-check-label{font-weight:bold}
body a{color:#333; text-decoration:none}
body a:hover{text-decoration:none}
body a:hover{text-decoration:none}

