.container{margin: 30px;}
.container h3{ font-size: 23px; cursor:pointer; display:block; margin:0;}
i.glyphicon{font-size:17px;}
.row{margin:20px 10px;}
.beers-table{margin-top:15px;}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.loader{margin-left:15px;}


